/*global*/
.contenido {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
.titulo {
    margin: 40px 0px 20px 0px;
}

.separador {
    width: 80% !important;
    margin: 40px auto;
}

.precio {
    margin-top: 60px;
}


/*header*/
header h1 {
    padding-left: 20px;
}

/*Menu Desplegable*/
.menu_movil {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.5rem;
    padding-top: 12px;
}
@media (min-width: 576px) {
    .menu_movil {
        display: none !important;
    }
}

.linea {
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.primero {
    transform: rotate(34deg);
}
.segundo {
    opacity: 0;
}
.tercero {
    transform: rotate(-34deg);
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 9999;

}

.nav-links a {
    padding: 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.nav-links a:hover{
    transform: scale(1.2);
}

.nav-links.activo {
    display: flex;
}

@media (min-width: 576px) {
    .nav-links {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        background: transparent;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }

    .nav-links a {
        margin-left: 2rem;
    }
}



/*footer*/
footer {
    margin-top: 30px;
}

/*Redes*/
footer a{
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
    margin: 15px auto;
}
footer a:hover{
    transform: scale(1.1);
}
footer a h4{
    margin-left: 8px;
}



/*main*/
/*Seccion paquetes turisticos recomendados*/
/*Seccion Promociones*/
.cards {
    margin: 15px 0;
    border-radius: 12px;
    padding-bottom: 20px;
}

.cards img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height: 300px !important;
}

.descripcion-card {
    margin: 15px;
}
.btn{
    transition: 0.4s ease;
}
.btn:hover{
    transform: scale(1.2);
}

.tachado {
    color: darkslategray;
    text-decoration: line-through;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 12px
}

/****************************************************/
/*PaquetesTuristicos*/
/*Main*/
main h2 {
    text-align: center;
}


/*Seccion categoria-zona*/
.categoria {
    border-radius: 10px;
}

.categoria img{
    transition: 0.5s ease;
}

.categoria:hover img {
    transform: scale(1.1);
}



/*Seccion mas vendidos*/
.mas-vendido .card{
    margin: 0;
    width: 100%;
    transition: 0.3s ease;
}

.mas-vendido .card:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 12px #6b6b6bdb;
}


/*Seccion Recomendaciones*/
.recomendaciones .card {
    border-radius: 40px;
}

.recomendaciones .card-img-top {
    height: 200px !important;
    object-fit: cover !important;
    transition: 0.4s ease;
}

.recomendaciones .card:hover .card-img-top {
    transform: scale(1.1);
}

.card-text {
    margin-bottom: 10px !important;
}

/***************************************************/
/*main*/
.sombra-externa {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 25px;
    box-shadow: 12px 8px 16px #0b61ff;
}

/*Seccion nuestra historia*/
/*Seccion mision vision y valor*/
.Valores div{
    margin-top: 25px;
}
/*Seccion nuestro equipo*/
.foto-empleado {
    border-radius: 50%;
    border: 2px solid #fff;
}

.etiqueta {
    border: 3px solid rgb(92, 156, 245);
    border-radius: 15px;
    color: #fff;
    background-color: rgb(0, 111, 229);
    text-align: center;
}